@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
.header {
  padding: 48px;
  background-color: #ffffff;
  text-align: center;
}
.header .logo {
  width: 200px;
}
.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-column {
  width: 80%;
  max-width: 480px;
  margin: 0 auto;
}
.value-prop {
  color: #979797;
  font-size: 36px;
  line-height: 1.2em;
  text-align: center;
  padding: 48px 0;
}
.text-hex {
  color: #424242;
}
.text-sketch {
  color: #FDAA05;
}
.card {
  background: #ffffff;
  box-shadow: 0 7px 12px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 2px;
}
.card .card__pad {
  padding: 24px;
}
.card .card__pad:first-child {
  border-bottom: 1px solid #DADADA;
}
.ide {
  background-color: #F6F6F6;
  box-shadow: inset 0 1px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  height: 320px;
  padding: 24px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 18px;
  margin-bottom: 16px;
  font-family: 'Source Code Pro', monospace;
}
.ide::placeholder {
  color: #bbbbbb;
}
.make-button {
  background-color: #5AAE58;
  border: none;
  border-radius: 2px;
  width: 100%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding: 16px;
  transition: all 200ms ease;
}
.make-button:not(.inactive):hover {
  background-color: #68C465;
  cursor: pointer;
}
.make-button:not(.inactive):active {
  background-color: #5AAE58;
}
.make-button.inactive {
  opacity: 0.4;
}
.make-button.inactive:focus {
  outline: none;
}
.error {
  background: rgba(255, 124, 124, 0.1);
  border: 1px solid #FF7C7C;
  border-radius: 4px;
  padding: 16px;
  margin-top: 16px;
  color: #CC4442;
}
.palette-preview .swatch-wrap {
  width: 12.5%;
  float: left;
  display: block;
  text-align: center;
  line-height: 0;
  padding-bottom: 16px;
}
.palette-preview .swatch {
  display: inline-block;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border-radius: 2px;
}
.palette-preview .swatch--empty {
  background-color: #F6F6F6;
  border: 1px solid #DADADA;
  opacity: 0.5;
}
.preview-message {
  width: 100%;
  text-align: center;
  color: #bbbbbb;
}
/*

#234,
#234,
#234,
#234,
#234,
#234,
#234,
#234,
#234,
#234,
#234,
#234,
#234,
#234,
#234,
#234,
#234,
#234,





*/
.download-form {
  width: 100%;
  display: none;
}
.download-form .download {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: url('../img/dl-hover.png') center right 16px no-repeat, linear-gradient(-180deg, rgba(255, 255, 255, 0.06) 0%, rgba(0, 0, 0, 0.06) 100%);
  transition: background 200ms ease;
  border: 1px solid #D2D2D2;
  border-radius: 4px;
}
.download-form .download:hover {
  background-color: #ffffff;
  background: url('../img/dl-hover.png') center right 16px no-repeat, linear-gradient(-180deg, rgba(225, 225, 225, 0.06) 0%, rgba(0, 0, 0, 0.1) 100%);
  cursor: pointer;
}
.download-form #download-content {
  width: 0;
  height: 0;
  visibility: hidden;
}
.help-content {
  background-color: #ffffff;
  width: 100%;
  padding: 60px 0;
  margin-top: 60px;
  flex: 1 0;
}
.help-content img {
  width: 100%;
  margin-top: 16px;
}
.help-content p {
  color: #666666;
}
.footer {
  background-color: #F6F6F6;
  padding: 48px;
  text-align: center;
}
.footer a {
  color: #F66102;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.footer .text-subtle {
  color: #bbbbbb;
  font-size: 14px;
  margin-top: 16px;
}
.footer .pizza {
  width: 18px;
  margin-right: 3px;
  margin-bottom: -2px;
}
html,
body {
  height: 100%;
  background-color: #F6F6F6;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #424242;
}
body {
  display: flex;
  flex-direction: column;
}
strong {
  font-weight: 600;
}
h2 {
  font-weight: 600;
  font-size: 24px;
}
h3 {
  font-weight: 600;
  font-size: 18px;
  margin-top: 24px;
}
p {
  margin: 0.75em 0;
  line-height: 1.4em;
  font-weight: 400;
}
a {
  color: #2092E9;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
