@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

@white: #ffffff;
@off-white: #F6F6F6;

@bg-darkest: #222222;
@bg-default: #404040;

@button-make: #5AAE58;
@button-make-hover: #68C465;

@border: #DADADA;

// Text vars
@text-default: #424242;

@text-ide-placeholder: #bbbbbb;
@text-readme-body: #666666;

@text-value-prop: #979797;
@text-sketch: #FDAA05;

@text-blue: #2092E9;

@weight-bold: 600;

@error: #FF7C7C;
@text-error: #CC4442;

// misc
@unit-xl: 60px;
@unit-lg: 48px;
@unit-md: 24px;
@unit-sm: 16px;
@border-radius: 2px;


@import '_header';
@import '_content';
@import '_form';
@import '_preview';
@import '_download';
@import '_readme';
@import '_footer';



html, body{
  height: 100%;
  background-color: @off-white;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: @text-default;
}

body{
  display: flex;
  flex-direction: column;
}

strong{
  font-weight: @weight-bold;
}

h2{
  font-weight: @weight-bold;
  font-size: 24px;
}

h3{
  font-weight: @weight-bold;
  font-size: 18px;
  margin-top: 24px;
}

p{
 margin: 0.75em 0; 
 line-height: 1.4em;
 font-weight: 400;
}

a{
  color: @text-blue;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}