.footer
  | Made with
  img.pizza(src="img/pizza.png" alt="pizza")
  | by 
  a(href="http://ricksteeledesign.com") Rick Steele &#8213; Product Design Technologist
  .text-subtle Ask me about fintech, design systems, and living style guides.