.help-content
  .center-column
    h2 How to use a .sketchpalette file

    h3 1. Get the Sketch Palettes plugin

    p I highly recommend 
      a(href="https://sketchpacks.com/") https://sketchpacks.com/
      |  for managing your sketch plugins. Within sketchpacks, you can search 'palettes' and the sketch-palettes plugin will appear.
    
    p Otherwise, instructions/info here: 
      a(href="https://github.com/andrewfiorillo/sketch-palettes") https://github.com/andrewfiorillo/sketch-palettes

    h3 2. Load your palette from the Plugins menu
    img(src="img/tutorial-1.jpg" alt="Plugins > Sketch Palettes > Load Palette")
    img(src="img/tutorial-2.jpg" alt="Select Destination")