doctype html
html
  head
    meta(charset="UTF-8")
    title Hex 2 Sketch
    link(rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png")
    link(rel="stylesheet" href="styles/main.css")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Code+Pro" rel="stylesheet")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

    script(src="js/convert.js")

    script.
      $(document).ready(function(){

        //- IDE text length check and button unlock
        $('#entry').bind('input propertychange', function(){
          //- There needs to be at least a min length hexcode
          if( $(this).val().length  >= 3 ) {
            $('#verify').removeClass('inactive');
          } else {
            $('#verify').addClass('inactive');
          }
        });

        //- Handle verify button click
        $('#verify').click(function(){
          //- not doing in this in the selector because
          //- it messes with event binding
          if( !$(this).hasClass('inactive') ){
            var data = $('#entry').val();
            verify(data);
          }

        })

        initSwatches();
      });
  body
    include _top.pug

    .center-column.card
      .card__pad
        textarea.ide(id="entry" placeholder="Paste hex colors here. Separate with comma, space, or line break.")
        input.make-button.inactive(type="button" value="Make Sketch Palette" id="verify")
      
        .error-wrap

      .card__pad
        .palette-preview
        .preview-message Your palette preview will appear here

        form.download-form(onsubmit="download(this['name'].value, this['text'].value); return false")
          input(type="hidden" name="name" value="custom.sketchpalette")
          textarea(type="hidden" name="text" id="download-content")
          button.download(type="submit" value="Download")
            img(src="img/file-icon.png" alt="icon")
            .filename custom.sketchpalette
      
    include _help.pug
    include _footer.pug