doctype html
html
  head
    meta(charset="UTF-8")
    title Hex 2 Sketch
    link(rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png")
    link(rel="stylesheet" href="styles/main.css")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Code+Pro" rel="stylesheet")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")

    script(src="js/convert.js")

    script.
      $(document).ready(function(){

        //- IDE text length check and button unlock
        $('#entry').bind('input propertychange', function(){
          //- There needs to be at least a min length hexcode
          if( $(this).val().length  >= 3 ) {
            $('#verify').removeClass('inactive');
          } else {
            $('#verify').addClass('inactive');
          }
        });

        //- show/hide help
        $('.text-help').click(function(){
          console.log('click');
          $('.help-content').fadeToggle();

          if($(this).text() == 'Close help'){
               $(this).text('What do I do with a Sketch palette?');
           } else {
               $(this).text('Close help');
           }
        });

        //- Handle verify button click
        $('#verify').click(function(){
          //- not doing in this in the selector because
          //- it messes with event binding
          if( !$(this).hasClass('inactive') ){
            var data = $('#entry').val();
            verify(data);
          }

        })
      });
  body
    .header
      img.logo(src="img/logo.png" alt="logo")
    .content
      .value-prop
        | Paste 
        strong.text-white hex 
        | colors.
        br
        | Get 
        strong.text-sketch Sketch 
        | palette.

      .center-column
        textarea.ide(id="entry" placeholder="Paste hex colors here. Separate with comma, space, or line break.")
        input.make-button.inactive(type="button" value="Make Sketch Palette" id="verify")
      
        .error-wrap

        form.download-form(onsubmit="download(this['name'].value, this['text'].value); return false")
          input(type="hidden" name="name" value="custom.sketchpalette")
          textarea(type="hidden" name="text" id="download-content")
          button.download(type="submit" value="Download")
            img(src="img/file-icon.png" alt="icon")
            .filename custom.sketchpalette
      
      .help-wrapper
        a.text-help(href="#help") What do I do with a Sketch palette?
      .help-content
        .center-column
          h2 How do I use a .sketchpalette file?

          h3 1. Get the Sketch Palettes plugin

          p I highly recommend 
            a(href="https://sketchpacks.com/") https://sketchpacks.com/
            | for managing your sketch plugins. Within sketchpacks, you can search 'palettes' and the sketch-palettes plugin will appear.
          
          p Otherwise, instructions/info here: 
            a(href="https://github.com/andrewfiorillo/sketch-palettes") https://github.com/andrewfiorillo/sketch-palettes

          h3 2. Load your palette from the Plugins menu
          img(src="img/tutorial-1.jpg" alt="Plugins > Sketch Palettes > Load Palette")
          img(src="img/tutorial-2.jpg" alt="Select Destination")


    .footer
      | Made with
      img.pizza(src="img/pizza.png" alt="pizza")
      | by 
      a(href="http://ricksteeledesign.com") Rick Steele &#8213; Product Design Technologist
      .text-subtle Ask me about fintech, design systems, and living style guides.